{% extends 'base.html.twig' %}
{% block title %}Envio de Newsletter{% endblock %}
{% block body %}
    <div class="content" style="margin-left: 0">
        <div class="workplace">
            <div class="row">
                <div class="col-md-12">
                    <div class="widgetButtons">
                    <div class="bb"><a href="/aquarium/dashboard" class="tipb" title="Inicio"><span
                                        class="ibw-home"></span></a></div>
                        <div class="bb"><a href="/admin/" class="tipb" title="Lista de usuarios"><span
                                        class="ibw-users"></span></a></div>
                        <div class="bb">
                            <a href="/admin/newsletter" class="tipb active" title="Eviar newsletter"><span
                                        class="ibw-mail"></span></a>
                        </div>
                        <div class="bb"><a href="/admin/parameters" class="tipb" title="Editar soluciones"><span
                                        class="ibw-list"></span></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-1">
                    <div class="page-header">
                        <h1>Envio de Newsletter</h1>
                    </div>
                    <div class="newsletter-form">
                        <form name="newsletter-form" action="{{ path('admin.send_newsletter') }}" method="POST" >
                            <div class="head clearfix">
                                <div class="isw-users"></div>
                                <h1>Redactar newsletter</h1>
                            </div>
                            <div class="block-fluid" id="newsletter">
                                <textarea id="newsletter-wysiwyg" name="text"></textarea>
                                <div class="modal-footer">
                                    <button id="send-newsletter" class="btn btn-success">Enviar</button>
                                    <button id="clean-newsletter" class="btn btn-default">Borrar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="dr"><span></span></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type='text/javascript' src="{{ asset('assets/dashboard/js/plugins/ckeditor/ckeditor.js') }}"></script>
{% endblock %}
