# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver: ~
    database_host: ~
    database_port: ~
    database_name: ~
    database_user: ~
    database_password: ~
    sender_name: ~
    mailer_transport: ~
    mailer_host: ~
    mailer_port: ~
    mailer_user: ~
    mailer_newsletter_subject: ~
    mailer_password: ~
    mailer_message_subject: ~
    locale: ~
    secret: ~
