.aquarium-background::after {
    content: "";
    background:url('../img/aquariums/aquarium-03.jpg') no-repeat center center;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 100;
}

.loginBox .row {
    margin-left: 0px;
    margin-right: 0px;
}

.bLogo {
    width: 320px;
    height: 110px;
    background: url("../img/b_logo.png") top center no-repeat transparent;
    margin-bottom: 10px;
}

.loginForm {
    background: #F9F9F9;
    border: 1px solid #CCC;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 6px rgba(67, 101, 139, 0.35);
    -moz-box-shadow: 0px 1px 6px rgba(67, 101, 139, 0.35);
    box-shadow: 0px 1px 6px rgba(67, 101, 139, 0.35);
}

.loginForm .form-horizontal {
    padding: 20px 10px 0px;
}

.loginForm label.checkbox {
    margin-left: 0px;
    padding: 0px;
    cursor: pointer;
    font-size: 11px;
}

.loginForm label.checkbox .checker {
    margin-top: -3px;
}

.loginForm label.checkbox .checker input[type="checkbox"] {
    margin-left: 0px;
}

.loginForm input[type="text"], .loginBox input[type="password"] {
    width: 256px;
}

.loginForm .white {
    background-color: #FFF;
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 1px solid #E8E8E8;
    border-right: 1px solid #E8E8E8;
}

.loginForm .white p {
    margin: 0px 10px;
    line-height: 30px;
    font-size: 11px;
    color: #888;
}

.loginForm .change {
    background-color: #FFF;
    -moz-border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    border-top: 1px solid #E8E8E8;
    border-left: 1px solid #E8E8E8;
}

.loginForm .change p {
    margin: 0px 10px;
    line-height: 30px;
    text-align: center;
}

.loginForm .change p a {
    color: #888;
    font-weight: bold;
    text-decoration: none;
}

.loginForm .change p a:hover {
    color: #444;
}

.loginBlock {
    min-width: 320px;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border: 10px solid #FFF;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    z-index: 200;
    background:#F9F9F9 none repeat scroll 0% 0%;
}

.loginBlock p {
    color: #666;
}

.loginBlock h1 {
    font-size: 18px;
    color: #507399;
    background: #F9F9F9;
    margin: 0px;
    line-height: 18px;
    padding: 10px;
    text-shadow: 1px 2px 0px #FFF;
}

.loginBlock .dr {
    margin-bottom: 0px;
    background-color: #F9f9f9;
}

.loginBlock .form-horizontal {
    padding: 10px 10px 0px;
}

.loginBlock .form-horizontal .dr {
    margin-bottom: 10px;
}

.loginBlock .control-group {
    margin-bottom: 10px;
}

.loginBlock .loginForm {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0px;
}

.loginBlock .loginForm input[type="text"], .loginBlock .loginForm input[type="password"] {
    width: 238px;
}

.loginBlock .controls {
    padding: 0px 10px 0px;
}

.loginBlock .input-group {
    display: block;
}

a.backToHome {
    padding: 5px 15px;
    height: 28px;
    background: #B0B0B0;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #B0B0B0;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    /*
    **-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    **-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    **box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    **/
}
.backToHome:hover {
    background: #CCCCCC;
    border: solid 1px white;
    text-decoration: none;
}
.backToHome:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
    border: solid 1px #203E5F;
}