{% extends 'base.html.twig' %}
{% block title %}Error al ejecutar la acción{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('assets/dashboard/css/bootstrap.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets/dashboard/css/stylesheets.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 admin-error alert alert-danger">
                <p class="text-center"><strong>{{ error }}</strong></p>
                <p class="text-center"><a href="{{ path('admin.users_list') }}">Volver al listado de usuarios</a></p>
            </div>
        </div>
    </div>
{% endblock %}